---
const { offre } = Astro.props;
import PbImage from "./PbImage.astro";
---

<div class="card">
    <PbImage record={offre} recordImage={offre.images?.[0]} width={400} height={300} />

    <p>{offre.nomMaison}</p>

    {offre.favori && <span class="favori">★ Favori </span>}
</div>
