---
import Header from '../components/header.astro';
import "../styles/global.css";

const { titre } = Astro.props;
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title> {titre} </title>
    </head>
    <body>
        <Header/>
        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    html, body {
        margin: 0;
        padding: 0;
    }
    
    main {
        text-align: left;
        padding: 2rem;
    }
    
    main h1 {
        font-size: 3rem;    
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
</style>   